.container{
    margin: 0 auto;
    width: 1308px;
    /* padding: 0 15px; */
}

@media (max-width: 1308px){
    .container{
        width: 100%;
    }
}

@media (max-width: 400px){
    .container{
        width: 100%;
    }
}