.technologies{
    padding-bottom: 30px;
    overflow-x: hidden;
    background-color: #302C42;
}

.technologies__content{
    position: relative;
    margin-bottom: 45px;
    width: 100%;
}

.technologies__content-img{
    display: block;
    object-fit: cover; 
    object-position: center; 
    margin: 0 auto;
    width: 100%;
    height: 303px;
}

.technologies__information{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    text-align: center;

}

.technologies__header{
    margin-bottom: 11px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
}

.technologies__text{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
}

/* Модификаторы к блоку - hydra-tech */
.hydra-tech_modifier-img1{
    display: block;
    margin-right: 91px;
    width: 174px;
    height: 174px;
}

.hydra-tech_modifier-img2{
    display: block;
    margin-right: 71px;
    width: 252px;
    height: 252px;
}

.hydra-tech_modifier-img3{
    display: block;
    margin-right: 27px;
    width: 263px;
    height: 263px;
}

.hydra-tech_modifier-img4{
    display: block;
    width: 282px;
    height: 282px;
}



/* Стрелка */
.technologies__button{
    position: absolute;
    left: 50%;
    top: 253px;
    transform: translateX(-50%);
}

.technologies__technologies__button_show-hide{ /* Модификатор для показа (скрытия) стрелки вниз */
    display: block;
}

.technologies__button-arrow{
    display: block;
    max-width: 60px;
    max-height: 60px;
}

.hydra-tech{
    display: none;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.hydra-tech_open{  /* Модификатор, открывающий блок - hydra-tech */
    display: flex;
}

.hydra-tech__slides{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



@media (max-width: 1307px){
   .technologies__information{
        top: calc(30% - 1px); 
    }

    .hydra-tech{
        width: 100%;
    }
    
    .hydra-tech__slides{
        justify-content: center;
        column-gap: calc(50% - 590px);
        flex-wrap: wrap;
    }
}


@media (max-width: 500px){
    .technologies__content{
        margin-bottom: 0;
        height: 172px;
    }

    .technologies__content-img{
        width: 100%;
        height: 172px;
        object-fit: contain;
    }

    .technologies__information{
        width: 100%;
        top: 32%;
    }

    .technologies__header{
        font-size: 16px;
        line-height: 20px;
    }

    .technologies__text{
        font-size: 24px;
        line-height: 29px;
    }
    
    .technologies__technologies__button_show-hide{ /* Модификатор для показа (скрытия) стрелки вниз */
        display: none;
    }

    .hydra-tech__slides{
        column-gap: 0;
    }

    .hydra-tech{
        display: flex;
    }
}